# Verilator output
obj_dir_bram/
obj_dir_TL/
obj_dir_PPU/
obj_dir_BFU/
obj_dir_SBM16/
.stamp.verilate
.stamp.verilate_bram
.stamp.verilate_PPU
.stamp.verilate_BFU
.stamp.verilate_SBM16


# Waveform files
*.vcd
*.ghw
*.fst

# Trace files
*.dat
*.log